In [1]:
# Librerias
import numpy as np
import pandas as pd

In [2]:
# carga de datos
data1 = pd.read_csv("./data/train_1.csv",sep=";",index_col=None,header=0)
data2 = pd.read_csv("./data/train_2.csv",sep=";",index_col=None,header=0)
data3 = pd.read_csv("./data/train_3.csv",sep=";",index_col=None,header=0)

In [3]:
display(data1.head())
display(data1.describe())
display(data1.info())
display(data1.shape)

,NUMPERIODO,NUMCODCONTRATOBSCS,VCHTELEFONO,ANT_CLIENTE,NUMRENTABASICA,VCHPACKCHIP,NUMINGRESOTEORICO
0,201804,38172100,51982603192,7.645161,41.525398,PACK,41.5254
1,201804,9028333,51983661925,45.903226,122.879997,SIM,92.3700
2,201805,34979663,51942976545,11.612903,66.949203,PACK,NaN
3,201805,13670934,51958993810,32.838710,41.525398,PACK,NaN
4,201804,16547229,51934098463,28.387097,62.711899,PACK,62.7119

,NUMPERIODO,NUMCODCONTRATOBSCS,VCHTELEFONO,ANT_CLIENTE,NUMRENTABASICA,NUMINGRESOTEORICO
count,749.000000,7.490000e+02,7.490000e+02,749.000000,749.000000,404.000000
mean,201804.460614,2.778620e+07,5.196338e+10,19.761187,64.649990,61.954822
std,0.498779,1.105254e+07,2.292394e+07,13.154770,23.881782,24.258025
min,201804.000000,6.436167e+06,5.191317e+10,3.290323,24.576300,12.286300
25%,201804.000000,1.720974e+07,5.194539e+10,9.354839,41.525398,41.525400
50%,201804.000000,3.078368e+07,5.195969e+10,16.516129,66.949203,62.711900
75%,201805.000000,3.701282e+07,5.198377e+10,28.548387,88.983101,75.423700
max,201805.000000,4.431225e+07,5.200234e+10,69.903226,122.879997,122.880000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 749 entries, 0 to 748
Data columns (total 7 columns):
NUMPERIODO            749 non-null int64
NUMCODCONTRATOBSCS    749 non-null int64
VCHTELEFONO           749 non-null int64
ANT_CLIENTE           749 non-null float64
NUMRENTABASICA        749 non-null float64
VCHPACKCHIP           749 non-null object
NUMINGRESOTEORICO     404 non-null float64
dtypes: float64(3), int64(3), object(1)
memory usage: 41.0+ KB

None

(749, 7)

In [4]:
display(data2.head())
display(data2.describe())
display(data2.info())
display(data2.shape)

,NUMPERIODO,NUMCODCONTRATOBSCS,VCHTELEFONO,NUMMINUTOSENTRANTE_2M,NUMMINUTOSALIENTE_2M,NUMMINSALIENTEOFFNET_2M,NUMMINENTRANTEOFFNET_2M,NUMMINSALIENTEONNET_2M,NUMMINENTRANTEONNET_2M,NUMTRAFICOFACEBOOK_2M,...,PCT_TRAFICOPAGADO_U2M,NUMMB,NUMMB_ADICIONAL,NUMKB_ADICIONAL,PCT_MB_ADICIONAL,PCT_USO_TRAFICOTOTAL_2M,PCT_USO_TRAFICOTOTAL_1M,PCT_USO_TRAFICOTOTAL_M0,PCT_USO_TRAFICOTOTAL_U3M,PCT_USO_TRAFICOTOTAL_U2M
0,201804,38172100,51982603192,151,596,590.9832,155.5999,5.0168,0.0000,52.437877,...,0.901194,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0
1,201804,9028333,51983661925,54,410,327.9664,14.1669,82.0336,39.8331,33.883530,...,0.957632,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0
2,201805,34979663,51942976545,792,587,512.2667,657.4498,74.7333,134.5502,106.086946,...,0.936877,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0
3,201805,13670934,51958993810,170,144,100.5000,122.3668,43.5000,47.6332,47.410069,...,0.750194,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0
4,201804,16547229,51934098463,219,784,745.2162,193.3838,38.7838,25.6162,237.011286,...,0.895736,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0

,NUMPERIODO,NUMCODCONTRATOBSCS,VCHTELEFONO,NUMMINUTOSENTRANTE_2M,NUMMINUTOSALIENTE_2M,NUMMINSALIENTEOFFNET_2M,NUMMINENTRANTEOFFNET_2M,NUMMINSALIENTEONNET_2M,NUMMINENTRANTEONNET_2M,NUMTRAFICOFACEBOOK_2M,...,PCT_TRAFICOPAGADO_U2M,NUMMB,NUMMB_ADICIONAL,NUMKB_ADICIONAL,PCT_MB_ADICIONAL,PCT_USO_TRAFICOTOTAL_2M,PCT_USO_TRAFICOTOTAL_1M,PCT_USO_TRAFICOTOTAL_M0,PCT_USO_TRAFICOTOTAL_U3M,PCT_USO_TRAFICOTOTAL_U2M
count,749.000000,7.490000e+02,7.490000e+02,749.000000,749.000000,749.000000,749.000000,749.000000,749.000000,749.000000,...,749.000000,749.0,749.0,749.000000,749.0,7.490000e+02,7.490000e+02,7.490000e+02,7.490000e+02,7.490000e+02
mean,201804.460614,2.778620e+07,5.196338e+10,372.571429,493.807744,319.216832,224.839811,174.614031,148.006452,219.665964,...,0.831305,0.0,0.0,0.000019,0.0,2.965909e+07,2.836922e+07,3.254137e+07,3.652399e+07,3.995644e+07
std,0.498779,1.105254e+07,2.292394e+07,354.308865,439.851142,296.497333,228.874870,268.378526,229.484791,590.812603,...,0.155908,0.0,0.0,0.000039,0.0,8.604787e+07,7.836353e+07,8.893929e+07,9.728181e+07,1.071267e+08
min,201804.000000,6.436167e+06,5.191317e+10,0.000000,0.000000,0.000000,0.100000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.000000,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,201804.000000,1.720974e+07,5.194539e+10,153.000000,212.000000,125.300500,80.766700,40.899400,32.516600,25.884949,...,0.789378,0.0,0.0,0.000000,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,201804.000000,3.078368e+07,5.195969e+10,281.000000,381.000000,234.249900,163.217000,97.883300,83.433300,62.472430,...,0.879427,0.0,0.0,0.000000,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,201805.000000,3.701282e+07,5.198377e+10,486.000000,641.000000,418.649800,299.932800,211.483100,173.833300,167.983684,...,0.933465,0.0,0.0,0.000000,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,201805.000000,4.431225e+07,5.200234e+10,3185.000000,4564.000000,2416.617500,2985.632800,3730.067100,3065.134900,9633.675966,...,1.000000,0.0,0.0,0.000098,0.0,8.901190e+08,7.286215e+08,7.545312e+08,9.137951e+08,9.256332e+08

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 749 entries, 0 to 748
Columns: 352 entries, NUMPERIODO to PCT_USO_TRAFICOTOTAL_U2M
dtypes: float64(282), int64(68), object(2)
memory usage: 2.0+ MB

None

(749, 352)

In [5]:
col=data3.isnull().sum()
col.sum()

0

In [6]:
display(data3.head())
display(data3.describe())
display(data3.info())
display(data3.shape)

   NUMPERIODO  NUMCODCONTRATOBSCS  VCHTELEFONO  FLG_RECARGA
0      201804            38172100  51982603192            0
1      201804             9028333  51983661925            0
2      201805            34979663  51942976545            0
3      201805            13670934  51958993810            0
4      201804            16547229  51934098463            1

          NUMPERIODO  NUMCODCONTRATOBSCS   VCHTELEFONO  FLG_RECARGA
count     749.000000        7.490000e+02  7.490000e+02   749.000000
mean   201804.460614        2.778620e+07  5.196338e+10     0.512684
std         0.498779        1.105254e+07  2.292394e+07     0.500173
min    201804.000000        6.436167e+06  5.191317e+10     0.000000
25%    201804.000000        1.720974e+07  5.194539e+10     0.000000
50%    201804.000000        3.078368e+07  5.195969e+10     1.000000
75%    201805.000000        3.701282e+07  5.198377e+10     1.000000
max    201805.000000        4.431225e+07  5.200234e+10     1.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 749 entries, 0 to 748
Data columns (total 4 columns):
NUMPERIODO            749 non-null int64
NUMCODCONTRATOBSCS    749 non-null int64
VCHTELEFONO           749 non-null int64
FLG_RECARGA           749 non-null int64
dtypes: int64(4)
memory usage: 23.5 KB

None

(749, 4)

In [7]:
columns_key=["NUMPERIODO","NUMCODCONTRATOBSCS","VCHTELEFONO"]
data12 = pd.merge(data1,data2,how="inner",on=columns_key)
display(data12.head())
display(data1.shape)
display(data2.shape)

display(data12.shape)

,NUMPERIODO,NUMCODCONTRATOBSCS,VCHTELEFONO,ANT_CLIENTE,NUMRENTABASICA,VCHPACKCHIP,NUMINGRESOTEORICO,NUMMINUTOSENTRANTE_2M,NUMMINUTOSALIENTE_2M,NUMMINSALIENTEOFFNET_2M,...,PCT_TRAFICOPAGADO_U2M,NUMMB,NUMMB_ADICIONAL,NUMKB_ADICIONAL,PCT_MB_ADICIONAL,PCT_USO_TRAFICOTOTAL_2M,PCT_USO_TRAFICOTOTAL_1M,PCT_USO_TRAFICOTOTAL_M0,PCT_USO_TRAFICOTOTAL_U3M,PCT_USO_TRAFICOTOTAL_U2M
0,201804,38172100,51982603192,7.645161,41.525398,PACK,41.5254,151,596,590.9832,...,0.901194,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0
1,201804,9028333,51983661925,45.903226,122.879997,SIM,92.3700,54,410,327.9664,...,0.957632,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0
2,201805,34979663,51942976545,11.612903,66.949203,PACK,NaN,792,587,512.2667,...,0.936877,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0
3,201805,13670934,51958993810,32.838710,41.525398,PACK,NaN,170,144,100.5000,...,0.750194,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0
4,201804,16547229,51934098463,28.387097,62.711899,PACK,62.7119,219,784,745.2162,...,0.895736,0,0,0.0,0,0.0,0.0,0.0,0.0,0.0

(749, 7)

(749, 352)

(749, 356)

In [8]:
(data12.isnull().sum()).sum()

345

#data1[data1['NUMINGRESOTEORICO'].isnull()]
dataTrain01 = data12
col_orig = dataTrain01['NUMINGRESOTEORICO'].copy()
col_nan = dataTrain01['NUMINGRESOTEORICO'].copy()
#dataTrain01[dataTrain01['NUMINGRESOTEORICO'].isnull()]=dataTrain01['NUMINGRESOTEORICO'].mean()
#col_nan[col_nan.isnull()] = col_nan.mean()
col_nan[col_nan.isnull()]=col_nan.mode()
[print(col_orig[i]," -> ",col_nan[j]) for i in range(len(col_orig)) for j in range(len(col_nan)) if i == j]

In [9]:
dataTrain01['NUMINGRESOTEORICO']=col_nan.mode()
#dataTrain01

NameError: name 'col_nan' is not defined

In [ ]:
dataTrain01.describe(exclude=[np.number])

In [ ]:
x = (dataTrain01.describe(include=[np.number]).T)['std']
x[x==0].shape

In [ ]:
import seaborn as sns
display(data1.head())

In [ ]:
sns.distplot(dataTrain01['NUMINGRESOTEORICO'])

In [29]:
data1['VCHPACKCHIP'].head()

0    PACK
1     SIM
2    PACK
3    PACK
4    PACK
Name: VCHPACKCHIP, dtype: object